.playlist-render {
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 3rem 1rem;
}
.playlist-render input,
.playlist-render a,
.playlist-render p,
.playlist-result,
.react-share__ShareButton {
  margin: 0.5rem;
}
.playlist-img {
  display: grid;
  justify-items: center;
}
.playlist-img img {
  background-size: contain;
}
@media (max-width: 411px) {
  .playlist-render {
    min-width: 90vw;
  }
}
/* .playlist-bg {
  background: url("https://source.unsplash.com/vC8wj_Kphak/1600x900") no-repeat
    fixed center center / cover;
  width: 100%;
  height: 600%;
} */
