.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: url("https://source.unsplash.com/DBGwy7s3QY0") no-repeat fixed
    center center/cover;
  padding: 20px;
  color: white;
  text-align: center;
  height: 1000px;
}
.App-header h2 {
  font-size: 4rem;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.App img {
  overflow: hidden;
}
.App-header {
  width: 100%;
}
.quiz-render {
  position: absolute;
  min-width: 100%;
}
.question-area {
  position: absolute;
  width: 80vw;
  left: 50%;
  margin-left: -40vw;
}
.quiz-render {
  display: flex;
  justify-content: center;
}

.answer-render-section {
  position: absolute;
  top: 40vh;
  width: 80vw;
  left: 50%;
  margin-left: -40vw;
}
