@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.logo {
  font-family: 'Indie Flower', cursive;
  color: #228b22;
}

body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  font-family: 'Indie Flower', cursive;
}

code {
  font-family: 'Indie Flower', cursive;
}
